include MANIFEST.in *.py *.rst *.txt *.yml
recursive-include docs *.*
recursive-include examples *.py *.yml *.txt *.md
recursive-exclude examples/tutorial/.automan *.*
recursive-exclude docs/build *.*
