name: Tests

on: pull_request

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest coverage
          python setup.py develop
      - name: Run tests
        run: |
          coverage erase
          coverage run -m pytest -v
      - name: Report
        if: ${{ success() }}
        run: coverage report
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          env_vars: ${{ matrix.os }}, ${{ matrix.python-version }}
